<h1>Форма регистрации</h1>
<form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field>
        <mat-label>Имя</mat-label>
        <input type="text" matInput formControlName="name">
        <mat-error *ngIf="name.invalid && name.touched && name.errors['required']">{{ errorMessages['required'] }}</mat-error>
        <mat-error *ngIf="name.invalid && name.touched && name.errors['maxlength']">Имя {{ errorMessages['maxLength'] }}</mat-error>
        <mat-error *ngIf="name.invalid && name.touched && name.errors['pattern']">Имя {{ errorMessages['allowedChar'] }}</mat-error>
        <mat-error *ngIf="name.invalid && name.touched && name.errors['stringContent']">Имя {{ errorMessages['notAllowedChar'] }}</mat-error>
        <mat-error *ngIf="name.invalid && name.touched && name.errors['stringEdges']">Имя {{ errorMessages['notAllowedEnding'] }}</mat-error>        
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Фамилия</mat-label>
        <input type="text" matInput formControlName="lastName">
        <mat-error *ngIf="lastName.invalid && lastName.touched && lastName.errors['required']">{{ errorMessages['required'] }}</mat-error>
        <mat-error *ngIf="lastName.invalid && lastName.touched && lastName.errors['maxlength']">Фамилия {{ errorMessages['maxLength'] }}</mat-error>
        <mat-error *ngIf="lastName.invalid && lastName.touched && lastName.errors['pattern']">Фамилия {{ errorMessages['allowedChar'] }}</mat-error>
        <mat-error *ngIf="lastName.invalid && lastName.touched && lastName.errors['stringContent']">Фамилия {{ errorMessages['notAllowedChar'] }}</mat-error>
        <mat-error *ngIf="lastName.invalid && lastName.touched && lastName.errors['stringEdges']">Фамилия {{ errorMessages['notAllowedEnding'] }}</mat-error> 
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" placeholder="inbox@mail.com" matInput formControlName="email">
        <mat-error *ngIf="email.invalid && email.touched && email.errors['required']">{{ errorMessages['required'] }}</mat-error>
        <mat-error *ngIf="email.invalid && email.touched && (email.errors['email'] || email.errors['pattern'])">{{ errorMessages['emailFormat'] }}</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Дата рождения</mat-label>
        <input placeholder="01.01.2001" matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate" formControlName="birthDate">
        <mat-hint *ngIf="birthDate.untouched">Введите дату в формате ДД.ММ.ГГГГ</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="birthDate.invalid && birthDate.touched && birthDate.errors['required'] && !birthDate.errors['matDatepickerParse']">{{ errorMessages['required'] }}</mat-error>
        <mat-error *ngIf="birthDate.invalid && birthDate.touched && birthDate.errors['matDatepickerParse']">{{ errorMessages['dateFormat'] }}</mat-error>
        <mat-error *ngIf="birthDate.invalid && birthDate.touched && birthDate.errors['matDatepickerMin']">{{ errorMessages['minDate'] }}</mat-error>
        <mat-error *ngIf="birthDate.invalid && birthDate.touched && birthDate.errors['matDatepickerMax']">{{ errorMessages['maxDate'] }}</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Пароль</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint *ngIf="password.untouched">Пароль должен содержать заглавную и
            строчную буквы, цифру и символ</mat-hint>
        <mat-error *ngIf="password.invalid && password.touched && password.errors['required']">{{ errorMessages['required'] }}</mat-error>
        <mat-error *ngIf="password.invalid && password.touched && password.errors['minlength']">Пароль {{ errorMessages['minLength'] }}</mat-error>
        <mat-error *ngIf="password.invalid && password.touched && password.errors['requiredValue']">Пароль должен содержать <span [class.bold]="password.errors['requiredUppercaseLetter']">заглавную</span> и
            <span [class.bold]="password.errors['requiredLowercaseLetter']">строчную</span> буквы, <span [class.bold]="password.errors['requiredNum']">цифру</span> и <span [class.bold]="password.errors['requiredSymbol']">символ</span></mat-error>
    </mat-form-field>        

    <mat-form-field>
        <mat-label>Подтвердите пароль</mat-label>
        <input matInput [type]="hidePasswordConfirmation ? 'password' : 'text'" formControlName="confirmPassword">
        <button mat-icon-button matSuffix (click)="hidePasswordConfirmation = !hidePasswordConfirmation" type="button">
            <mat-icon>{{hidePasswordConfirmation ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="confirmPassword.invalid && confirmPassword.touched && confirmPassword.errors['required']">{{ errorMessages['required'] }}</mat-error>
        <mat-error *ngIf="confirmPassword.invalid && confirmPassword.touched && confirmPassword.errors['passwordMatch']">{{ errorMessages['passwordMatch'] }}</mat-error>
    </mat-form-field>        

    <button class="submit" type="submit" [disabled]="form.invalid" mat-raised-button color="primary">Отправить</button>
</form>

