@import url(../app.component.scss);

p {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
}

mat-form-field {
    width: 90%;
}

mat-form-field.ng-valid input,
mat-form-field.ng-valid textarea{
    color: #1c8c54;
}
    
.submit {
    width: 50%;
    height: 50px;
    margin-bottom: 10px;
}

.bold {
    font-weight: bold;
}

.success {
    margin: 0;
    color:#1c8c54;
}

.error {
    color:#f44336;
}

p.error {
    font-weight: bold;
}

h1.error {
    margin-bottom: 10px;
}