@import url(../posts/posts.component.scss);

.table-container.chart {
    width: 100%;
}

.chart-message {
    height: fit-content;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    background-color: #fff;
    color: #673ab7;
}

.hidden {
    display: none;
}