<div class="content">

    <div class="content-block">
        <app-budget-table [table]="incomeTable" (onDelete)="deletePoint($event)" (onAdd)="addPoint($event)" (onEdit)="editPoint($event)" (onCheck)="prepareChartData($event)"></app-budget-table>
        <app-budget-chart [chartData]="incomeChartData" [table]="incomeTable"></app-budget-chart> 
    </div>

    <div class="content-block">
        <app-budget-table [table]="outcomeTable" (onDelete)="deletePoint($event)" (onAdd)="addPoint($event)" (onEdit)="editPoint($event)" (onCheck)="prepareChartData($event)"></app-budget-table>
        <app-budget-chart [chartData]="outcomeChartData" [table]="outcomeTable"></app-budget-chart>
    </div>
    
</div>