.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px 40px;
    box-sizing: border-box;
}

app-budget-table {
    flex: 1;
}

@media (max-width: 1000px) {
    
    .content {
        gap: 20px;
        padding: 20px;
    }
}

@media (max-width: 600px) {
    
    .content {
        flex: auto;
        flex-direction: column;
        padding: 10px 0px 20px;
    }

    app-budget-table {
        width: 100%;
        padding: 5px 0px;
        overflow-x: scroll;
    }
}