<div class="container">

    <h1 *ngIf="!hideForm;" [class.error]="!hideError">Форма авторизации</h1>
    <p *ngIf="!hideError" class="error">{{ authErrorMessage }}</p>
    
    <form [formGroup]="form" (ngSubmit)="submit()" *ngIf="!hideForm; else successMessage">

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" placeholder="inbox@mail.com" matInput formControlName="email">

            <mat-error *ngIf="email.invalid && email.touched && email.errors['required']">{{ errorMessages['required'] }}</mat-error>
            <mat-error *ngIf="email.invalid && email.touched && (email.errors['email'] || email.errors['pattern'])">{{ errorMessages['emailFormat'] }}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Пароль</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">

            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>

            <mat-error *ngIf="password.invalid && password.touched && password.errors['required']">{{ errorMessages['required'] }}</mat-error>
            <mat-error *ngIf="password.invalid && password.touched && password.errors['minlength']">Пароль {{ errorMessages['minLength'] }}</mat-error>
            <mat-error *ngIf="password.invalid && password.touched && password.errors['requiredValue']">Пароль должен содержать <span [class.bold]="password.errors['requiredUppercaseLetter']">заглавную</span> и
                <span [class.bold]="password.errors['requiredLowercaseLetter']">строчную</span> буквы, <span [class.bold]="password.errors['requiredNumber']">цифру</span> и <span [class.bold]="password.errors['requiredSymbol']">символ</span></mat-error>
        </mat-form-field>

        <button class="submit" type="submit" [disabled]="form.invalid" mat-raised-button color="primary">Авторизоваться</button>

    </form>

    <ng-template #successMessage>
        <h1 class="success">Успешная авторизация!</h1>
    </ng-template>

</div>
