@import url(../app.component.scss);
@import url(../reg-form/reg-form.component.scss);

.container {
    min-width: auto;
    margin: 0;
}

.button-set {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    width: 90%;
}

@media (max-width: 565px) {

    .container {
        width: 350px;
    }
}

@media (max-width: 440px) {
    .container {
        width: 100%;
    }

    .button-set {
        justify-content: center;
    }
}

button.submit,
button.cancel {
    width: auto;
    height: 40px;
    margin: 0;
}