h1, h2 {
  margin-top: 5px;
}

h2 {
  margin-left: 10px;
}

p {
  font-size: 1.5rem;
}

label {
  margin-right: 5px;
}

button {
  display: block;
  margin: 10px;
}

form > * {
  margin: 20px 15px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.card {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.form-control {
  margin: 10px;
}

input {
  &.ng-invalid.ng-touched {
    border: 2px solid red;
  }

  &.ng-valid.ng-touched {
    border: 2px solid green;
  }
}

input:focus-visible {
  border-width: 2px;
  outline: none;
}