.show-input {
    width: 100px;
    min-height: 25px;
    margin: 10px auto; 
    padding: 5px;
    border: 1px solid black;
    line-height: 25px;
    overflow: auto;
}

button {
    display: block;
    margin: 15px auto;
}

app-post5 {
    width: 100%;
    text-align: center;
}